$black: #000000;
$blue-dark: #0400d2;
$blue-light: #00b2ff;
$gray: #f4f4f4;
$gray-dark: #333333;
$green: #00ff57;
$orange: #ff8a00;
$pink: #fa00ff;
$red: #ff0000;
$red-light: #FF4242;
$white: #ffffff;
$yellow: #dbf72c;
