$menu-font: 'Poppins', sans-serif;
$submenu-font: 'Inter', sans-serif;

$regular: 400;
$medium: 500;
$semi-bold: 600;

$font-extra-small: 13px;
$font-small: 14px;
$font-medium: 15px;
$font-large: 16px;